svg, embed {
  border: 1px solid brown;
  /*background-color: #eae7d8;*/
  background-color: #fffceb;
  margin: 0 auto;
  width: 800px;
  display: block;
}

body {
  background-color: #eae2bc;
  margin: 0 auto;
  font-family: tahoma, verdana, sans-serif;
  color: #7e7a65;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: .8em;
}

.tile {
  /*fill: #F6F6F6;*/
  fill: #DfDfDf;
  fill-opacity: .7;
  stroke: #BfBfBf;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
}

.tile:hover, .probed:hover, .path:hover {
  stroke: #ff0000;
  stroke-dasharray: 2 2;
  fill: #ffcccc;
}

.room {
  fill: none;
  stroke: gray;
  stroke-width: 2;
}

.probed {
  fill: #FFFFCC;
  stroke: gold;
}

.path {
  fill: #EEEEFF;
  stroke: #9999FF;
}

circle:hover {
  stroke: #000099;
  fill-opacity: 1;
  fill: #CCCCFF;
}

.door:hover {
  stroke-width: 10;
}

.furniture {
  stroke: #800000;
  fill: #ffcbcb;
}

.player circle {
  fill-opacity: 1;
  fill: #c66666;
  stroke-width: 2;
  stroke: maroon;
}

.enemy circle {
  fill-opacity: 1;
  fill: #64944a;
  stroke-width: 2;
  stroke: #297400;
}